*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  /* text-align: center; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
#board{
    width: 45rem;
    height: 45rem;
    background-color:#6e6a6a ;
    border: .5rem solid #3d88df;
    border-radius: 1rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#board img{
    width: 5rem;
    height: 5rem;
}
h1{
    font-size: 30px;
}
@media screen and (max-width:700px) {
    html{
        font-size: 8px;
    }
}